
trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Terraform_Deploy
    displayName: "Terraform Phase 2 Deploy"
    jobs:
      - job: Terraform_Apply
        steps:
          - checkout: self

          - task: TerraformInstaller@1
            inputs:
              terraformVersion: '1.5.7'

          - script: |
              cd terraform
              terraform init
              terraform plan -out=tfplan
              terraform apply -auto-approve tfplan
            displayName: "Terraform Init & Apply"
            env:
              ARM_CLIENT_ID: $(DATABRICKS_CLIENT_ID)
              ARM_CLIENT_SECRET: $(DATABRICKS_CLIENT_SECRET)
              ARM_TENANT_ID: "6aaeadfe-7abb-4f83-96c7-d0aa5d9a549a"
              ARM_SUBSCRIPTION_ID: "f4eb400d-e379-4fb2-a669-5ad89034cc35"
